*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
section{
    width: 100vw;
    margin-inline:auto ;

    margin-block: 6rem;
 

}
.container{
    width: 100%;
    display: flex;
    flex-wrap:  wrap;
    justify-content: center;
 
    gap:1rem;
}
i{
    font-size: 2rem;
    color: darkgoldenrod;
}
.box{
    display: flex;
    flex-basis: 35%;
    gap: 1rem;
    margin-block:1rem ;
}
p{
    margin-block: 1rem;
}