*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 15vw;
    display: block;
    margin-inline:auto ;
    text-align: center;
    margin-block: 4rem;
    
}
.card,img{
    width:100%;
}

.ceo ,.icons,h2{
    margin-block:1rem ;
}
.ceo{
    color: grey;
}

.btn{
    background-color: black;
    padding:0.6rem;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}